@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root {
    --bg: #19282F;
    --fg: #559e62;
    --highlight: #B33030;
    --yellow: #eec319;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    padding: 1em;
    gap: 3em;

    font-family: "Borel", cursive;
    font-weight: 400;

    color: var(--fg);
    background-color: var(--bg);

    overflow-x: hidden;
}

h1 {
    font-family: "Mountains of Christmas", serif;
    text-align: center;
    font-size: 400%;
    font-weight: 900;
}

.snowy {
    color: var(--highlight);
    background: linear-gradient(to top, var(--highlight) 40%, #e0e0e0 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tree{
    width: 50vw;
}

.presents {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/* width */
::-webkit-scrollbar {
    min-width: 10px;
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--fg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}